---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑‍🚀 Hi, I'm Richal!</h1>
			<p>
				Thanks for visiting! I'm a Software Developer with an interest in game, web and
				electronics projects. Outside of technology, my hobbies include Pickleball, Cricket and
				Cross Stitch among others.
			</p>
			<p>
				Professionally, my work involves static analysis and developer tooling at Oracle.
			</p>
			<h3>What is this site about?</h3>
			<p>
				Well, right now there isn't anything here, but eventually you'll find a bit of everything
				- a mix of dev and project logs as well as anything else I find interesting enough to
				post about.
			</p>
			<p>
				You can find the code for this site <a href="https://github.com/rv3392/richal.au">here</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
